Módulo 5 documentación

In [1]:
answer = 30 + 12
print(answer)

42

In [2]:
difference = 30 - 12
print(difference)

18

In [3]:
product = 30 * 12
print(product)

360

In [4]:
quotient = 30 / 12
print(quotient)

2.5

In [6]:
seconds = 1042
display_minutes = 1042 // 60
print(display_minutes)

17.366666666666667

In [24]:
seconds = 1042
display_minutes = 1042 // 60
display_seconds = 1042 % 60

print(display_minutes,",",display_seconds)

17 , 22

In [26]:
result_1 = 1032 + 26 * 2
result_2 = 1032 + (26 * 2)
print(result_1)
print(result_2)

1084
1084

In [43]:
demo_int = int('215')
print(demo_int)

215

In [32]:
demo_float = float('215.4')
print(demo_float)

215.4

In [33]:
a = 39 - 16
b = 16 - 39

In [34]:
print(abs(39 - 16))
print(abs(16 - 39))

23
23

In [35]:
print(round(14.5))

14

In [38]:
from math import ceil, floor

round_up = ceil(12.5)
print(round_up)

round_down = floor(12.5)
print(round_down)

13
12

KATA 5

In [51]:
# Crear variables para almacenar las dos distancias
# ¡Asegúrate de quitar las comas!
#Tierra (149.597.870 km) y Júpiter (778.547.200 km).
tierra= 149597870
jupiter= 778547200

In [59]:
# Calcular la distancia entre planetas
resta=jupiter-tierra
print(resta, "en kilometros")
multiplicacion_mi=resta*0.621
round_up = ceil(multiplicacion_mi)
print(round_up,"en millas" )

628949330 en kilometros
390577534 en millas

In [71]:
# Almacenar las entradas del usuario
#Pista: variable = input("¿Cuál es tu nombre?")
planeta1 = input("Ingrese la distancia del planeta uno: ")
planeta2 = input("Ingrese la distancia del planeta dos: ")

In [72]:
# Convierte las cadenas de ambos planetas a números enteros
planetaa = int(planeta1)
planetaaa=int(planeta2)
print(planetaa)
print(planetaaa)

57900000
149600000

In [73]:
# Realizar el cálculo y determinar el valor absoluto
resta=planetaaa-planetaa
print(abs(resta))

# Convertir de KM a Millas
aMillas=resta*0.621
print(abs(aMillas))

91700000
56945700.0