In [2]:
# Impresión en pantalla print('Hola desde la consola')
print('Hola desde la consola')

Hola desde la consola

In [4]:
sum = 1 + 2 # 3
product = sum * 2
print(product)

6

In [6]:
planetas_en_el_sistema_solar = 8 # int, plutón era considerado un planeta pero ya es muy pequeño
distancia_a_alfa_centauri = 4.367 # float, años luz
puede_despegar = True
transbordador_que_aterrizo_en_la_luna = "Apollo 11" #string

4.367

In [7]:
# Declaramos la variable
distancia_a_alfa_centauri = 4.367

# Descubrimos su tipo de dato
type(distancia_a_alfa_centauri)

float

In [4]:
left_side = 10
right_side = 5
left_side / right_side # 2

2.0

In [3]:
from datetime import date

date.today()
print(date.today())

2022-02-09

In [5]:
print("Today's date is: " + str(date.today()))

Today's date is: 2022-02-09

In [1]:
print("Bienvenido al programa de bienvenida")
nombre = input("Introduzca su nombre ")
print("Saludos: "+ nombre)

Bienvenido al programa de bienvenida
Saludos: Valeria

In [7]:
print("Calculadora")
first_number = input("Primer número: ")
second_number = input("Segundo número: ")
print(first_number + second_number)

Calculadora
12

In [11]:
print("Calculadora")
first_number = input("Primer número: ")
second_number = input("Segundo número: ")
print(int(first_number) + int(second_number))

Calculadora
8

In [26]:
#Tu primer programa
from datetime import date

print("Today's date is: " + str (date.today()))

Today's date is: 2022-02-09

In [34]:
#Construir un convertidor de unidades
parsec = 11
lightyears = parsec*3.26166

print(str(parsec) + " parsec, is " + str(lightyears) + " lightyears")
# 1 parsec es 3.26156 años luz. Utiliza el operador de multiplicación.

11 parsec, is 35.87826 lightyears