MÓDULO 4 Ejercicios de documentación

In [4]:
fact = 'The Moon has no atmosphere.'
fact + ' No sound can be heard on the Moon.'

'The Moon has no atmosphere.'

In [5]:
two_facts = fact + ' No sound can be heard on the Moon.'
two_facts

'The Moon has no atmosphere.No sound can be heard on the Moon.'

In [6]:
moon_radius = "The Moon has a radius of 1,080 miles"
'The "near side" is the part of the Moon that faces the Earth'
"We only see about 60% of the Moon's surface"
#Puede utilizar comillas dobles y triples
"""We only see about 60% of the Moon's surface, this is known as the "near side"."""

In [7]:
'We only see about 60% of the Moon's surface'
  File '<stdin>', line 1
    'We only see about 60% of the Moon's surface'
                                       ^
SyntaxError: invalid syntax

SyntaxError: unterminated string literal (detected at line 1) (1933904877.py, line 1)

In [10]:
multiline = "Facts about the Moon:\n There is no atmosphere.\n There is no sound."
print(multiline)

Facts about the Moon:
 There is no atmosphere.
 There is no sound.

In [12]:
multiline = """Facts about the Moon:
There is no atmosphere.
There is no sound."""
print(multiline)

Facts about the Moon:
There is no atmosphere.
There is no sound.

In [13]:
'temperatures and facts about the moon'.title()

'Temperatures And Facts About The Moon'

In [16]:
heading = 'temperatures and facts about the moon'
heading.title()

'temperatures and facts about the moon'

In [17]:
temperatures = '''Daylight: 260 F
... Nighttime: -280 F'''
temperatures .split()

['Daylight:', '260', 'F', 'Nighttime:', '-280', 'F']

In [18]:
temperatures .split('\n')

['Daylight: 260 F', 'Nighttime: -280 F']

In [19]:
'Moon' in 'This text will describe facts and challenges with space travel'

False

In [20]:
'Moon' in 'This text will describe facts about the Moon'

True

In [24]:
temperatures = """Saturn has a daytime temperature of -170 degrees Celsius,
... while Mars has -28 Celsius."""
temperatures.find('Moon')
temperatures.find('Mars')

64

In [26]:
temperatures.count('Mars')

0

In [27]:
temperatures.count('Moon')

0

In [28]:
"The Moon And The Earth".lower()

'the moon and the earth'

In [29]:
'The Moon And The Earth'.upper()

'THE MOON AND THE EARTH'

In [31]:
temperatures = 'Mars Average Temperature: -60 C'
parts = temperatures.split(':')
parts

['Mars Average Temperature', ' -60 C']

In [32]:
parts[-1]

' -60 C'

In [34]:
>>> mars_temperature = 'The highest temperature on Mars is about 30 C'
for item in mars_temperature.split():
    if item.isnumeric():
        print(item)

30

In [35]:
'-60'.startswith('-')

True

In [36]:
if "30 C".endswith("C"):
    print("This temperature is in Celsius")

This temperature is in Celsius

In [37]:
'Saturn has a daytime temperature of -170 degrees Celsius, while Mars has -28 Celsius.'.replace('Celsius', 'C')

'Saturn has a daytime temperature of -170 degrees C, while Mars has -28 C.'

In [41]:
text = 'Temperatures on the Moon can vary wildly.'
'temperatures' in text

False

In [39]:
'temperatures' in text.lower()

True

In [42]:
moon_facts = ['The Moon is drifting away from the Earth.', 'On average, the Moon is moving about 4cm every year']
'\n'.join(moon_facts)

'The Moon is drifting away from the Earth.\nOn average, the Moon is moving about 4cm every year'

In [43]:
mass_percentage = '1/6'
print('On the Moon, you would weigh about %s of your weight on Earth' % mass_percentage)

On the Moon, you would weigh about 1/6 of your weight on Earth

In [46]:
print("""Both sides of the %s get the same amount of sunlight,
    but only one side is seen from %s because
    the %s rotates around its own axis when it orbits %s.""" % ('Moon', 'Earth', 'Moon', 'Earth'))

Both sides of the Moon get the same amount of sunlight,
    but only one side is seen from Earth because
    the Moon rotates around its own axis when it orbits Earth.

In [47]:
mass_percentage = '1/6'
print('On the Moon, you would weigh about {} of your weight on Earth'.format(mass_percentage))

On the Moon, you would weigh about 1/6 of your weight on Earth

In [48]:
print("""You are lighter on the {0}, because on the {0} 
... you would weigh about {1} of your weight on Earth""".format("Moon", mass_percentage))

You are lighter on the Moon, because on the Moon
you would weigh about 1/6 of your weight on Earth

In [49]:
print("""You are lighter on the {moon}, because on the {moon} 
... you would weigh about {mass} of your weight on Earth""".format(moon="Moon", mass=mass_percentage))

You are lighter on the Moon, because on the Moon
you would weigh about 1/6 of your weight on Earth

In [50]:
print(f'On the Moon, you would weigh about {mass_percentage} of your weight on Earth')

On the Moon, you would weigh about 1/6 of your weight on Earth

In [51]:
round(100/6, 1)

16.7

In [52]:
print(f'On the Moon, you would weigh about {round(100/6, 1)}% of your weight on Earth')

On the Moon, you would weigh about 16.7% of your weight on Earth

In [53]:
subject = 'interesting facts about the moon'
f'{subject.title()}'

'Interesting Facts About The Moon'

Kata 4

In [89]:
text = """Interesting facts about the Moon.The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth. On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of the Moon is 127 C."""
text_parts = text.split('. ')
text_parts

["Interesting facts about the Moon.The Moon is Earth's only satellite",
 'There are several interesting facts about the Moon and how it affects life here on Earth',
 'On average, the Moon moves 4cm away from the Earth every year',
 'This yearly drift is not significant enough to cause immediate effects on Earth',
 'The highest daylight temperature of the Moon is 127 C.']

In [90]:
# Define las palabras pista: average, temperature y distance suenan bien
key_words = ["average", "temperature", "distance"]

In [116]:
#Crea un bucle para imprimir solo datos sobre la Luna que estén relacionados con las palabras clave definidas anteriormente:
for sentence in text_parts:
    for key_word in key_words:
        if key_word in sentence:
            print(sentence.replace('C','Celsius'))
            break

On average, the Moon moves 4cm away from the Earth every year
The highest daylight temperature of the Moon is 127 Celsius.

Ejercicio 2 Kata Formateando Cadenas

In [147]:
# Datos con los que vas a trabajar
name = "Moon"
gravity = 0.00162  # in kms
planet = "Earth"

In [148]:
titulo=f'datos de la gravedad sobre {name} y {planet}'

datos de la gravedad sobre Moon y Earth

In [163]:
#Ahora crea una plantilla de cadena multilínea para contener el resto de la información.
#En lugar de usar kilómetros, debes convertir la distancia a metros multiplicando por 1,000.
hechos = f"""{'-'*50} 
Nombre del planeta: {planet} 
Gravedad en {name}: {gravity * 1000} m/s2 
"""

In [164]:
#Finalmente, usa ambas variables para unir el título y los hechos.
template = f"""{titulo.title()} 
{hechos} 
""" 
print(hechos)

--------------------------------------------------
Nombre del planeta: Earth
Gravedad en Moon: 1.6199999999999999 m/s2

In [165]:
#Datos muestra:

planeta = 'Marte '
gravedad  = 0.00143
nombre = 'Ganímedes'

In [166]:
print(hechos)

--------------------------------------------------
Nombre del planeta: Earth
Gravedad en Moon: 1.6199999999999999 m/s2

In [169]:
new_template = """
Datos de Gravedad sobre: {nombre}
-----------------------------------------------------
Nombre del planeta: {planeta}
Gravedad en {nombre}: {gravedad} m/s2
"""
print(new_template.format(nombre=nombre, planeta=planeta, gravedad=gravedad))

Datos de Gravedad sobre: Ganímedes
-----------------------------------------------------
Nombre del planeta: Marte
Gravedad en Ganímedes: 0.00143 m/s2

In [168]:
print(new_template.format(nombre=nombre, planeta=planeta, gravedad=gravedad*1000))

Datos de Gravedad sobre: Ganímedes
-------------------------------------------------------------------------------
Nombre del planeta: Marte
Gravedad en Ganímedes: 1.4300000000000002 m/s2